@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: RGB(255, 194, 52);
  --secondary: RGB(65, 31, 9);
  --tertiary: RGB(223, 28, 28);
}

header {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 40px;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 20px;
}

nav ul li a:hover {
  color: var(--tertiary);
}

#main {
  background-color: var(--primary);
  width: 100%;
  padding: 35px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 600px;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  color: var(--secondary);
}

.main-text h1 {
  font-size: 120px;
}

.main-text h2 {
  font-size: 60px;
}

.main-img {
  width: 50%;
  position: relative;
}

.preco {
  position: absolute;
  top: 500px;
  right: 780px;
}

#section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

#section-1 span {
  background-color: var(--primary);
  width: 220px;
  height: 35px;
  padding: 7px 15px;
  color: var(--secondary);
}

.sec-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sec-text h2 {
  font-size: 50px;
  color: var(--secondary);
}

.sec-text p {
  width: 70%;
  text-align: center;
  counter-reset: var(--secondary);
  font-size: 20px;
}

.container-card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 35px 40px;
  align-items: center;
}

.card {
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.card h2 {
  font-size: 35px;
  color: var(--secondary);
}

.card p {
  width: 60%;
  text-align: center;
}

.card button {
  width: 200px;
  height: 50px;
  background-color: var(--tertiary);
  border: none;
}

.card button :hover {
  color: var(--primary);
}

.card button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 35px 40px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="time"] {
  width: 350px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  padding: 0px 15px;
  font-size: 15px;
}

input[type="submit"] {
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: var(--tertiary);
  color: white;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

input[type="text"]::placeholder {
  color: var(--secondary);
}

input[type="email"]::placeholder {
  color: var(--secondary);
}

footer {
  background-image: url(../img/rodape/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  padding: 35px 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  width: 50%;
}

.footer-text figure img {
  width: 60%;
}

.footer-text p {
  width: 50%;
}

.footer-text span {
  position: relative;
  top: 150px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-img {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container-social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  top: 250px;
  right: 100px;
}
